
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
}

body::-webkit-scrollbar {
    display: none;
}

@media only screen and (min-width: 750px) {
   
  
/* .................................... navbar start...................................... */
.navbar{
    background-color: rgb(42, 46, 42);
    position:fixed;
    min-height:15vh;
    width:100vw;
    display: flex;
    flex-direction: wrap row;
    color:white;
    justify-content: center;
    z-index: 20;

}
.left-child{
  
    width: 30vw;
    /* padding-right: 20vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courgette', cursive;
   
}
.brand{
    display: inline-block;
    animation-name: brandAnim;
    
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes brandAnim {
    0%{transform:rotate(0deg);}

    90%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
    
}
.right-child{
    padding-left:10vw;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-child a{
    text-decoration: none;
    color:white;
}
.button{
    margin:15px;
   
}

.button:hover{
    background-color: #7938f1;
    border-radius: 5px;
}


/* .................................... navbar end...................................... */

/* .......................................intro starts ......................................... */
.intro{
   
    position:relative;
    top: calc(15vh);
    min-height: 100vh;
    height: fit-content;
    

    background-color: gray; 
     text-align: center;

    
   
   
}
.intro-bg-video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
}
.introduction {
    height: fit-content;
    color:white;
     position: absolute;
    bottom: 20%;
   
    min-width: 40%;
    left: 30%;     
    
  
}
/* .......................................intro ends ......................................... */


/* ..........................................about start........................................ */
.about{
    /* min-height: 100vh; */
    height: fit-content;
    position:relative;  
    /* background-color:rgb(247, 236, 236); */
    background-color: #7510F7;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
    padding-bottom: 15rem;
  

}

.image{
    
    height: 10rem;
    width: 10rem;
    background-color: rgba(255, 255, 255, 1);
    position:relative;
    left:calc(50% - 5rem);
    top:2vh;
    /* background-image: url("https://static.remove.bg/remove-bg-web/417fd4161b5795da2323e66af38c4afd2f7ee3ae/assets/start_remove-79a4598a05a77ca999df1dcb434160994b6fde2c3e9101984fb1be0f16d0a74e.png"); */
     /* background-image: url("./profile.jpg");
    /* background-size: cover;  */ 
   
    border-radius: 100%;
    border:3px solid rgb(147, 233, 245);
  
    
    

}

.image img{
    position: absolute;
    height: 100%;
    width:100%;
    border-radius: 90%;
    left:0;
   
}

.name{
    color:white;
    position: relative;
    top: 3vh;
    font-family: 'Courgette', cursive;
    left:30vw;
    width: 40vw;
   
}

.about-text{
    background-color: #7510F7;
    position: relative;
    /* top:5vh; */
    margin-top: 3rem;
    width: 100vw;
    word-wrap: break-word;
    /* word-break:break-all; */
    /* left:30vw; */
    font-size: 1.2rem;
    padding:2rem 15rem;
    color:white;
    
}


/* ..........................................about end........................................ */

/* ........................................services starts ...................................... */
.services{
    background:rgb(116, 116, 122);
    display:flex;
    flex-flow: wrap row;
    justify-content: center;
    position: relative;
    height: fit-content;
    min-height: 100vh;
}
.card{
    position: relative;
    top:-200px;
    width: 40%;
    text-align: center;
    min-height: 50vh;
    border-radius: 10px;
    border:2px solid cyan;
    background:rgb(133, 4, 253);
    color:white;
    padding: 20px 10px;
}
.card-highlight{
    color:#54e1fa;
    position: relative;
    font-weight: 700;
    border-bottom: 2px solid white;
    display:inline-block;
    margin-bottom: 10px;
    animation-name: highlighter;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  
}
@keyframes highlighter{
    0% {transform:scale(1);  color:#54e1fa;}
    50% {transform:scale(1.1); color:white;}
    100% {transform:scale(1);color:#54e1fa;}
   


}

@keyframes devAnimation {
    10% {transform: rotate(0deg); box-shadow: 0 0 10px 5px rgb(24, 176, 236);}
    60%{transform: rotate(0deg); color:rgba(255, 255, 255,.1); box-shadow: 0 0 10px 5px rgba(0, 250, 250,.1);}
    70%{transform: rotate(10deg); color:rgba(255, 255, 255,.8); box-shadow: 0 0 10px 5px rgba(0, 250, 250,1);}
    80%{transform: rotate(10deg); color:rgba(255, 255, 255,0); box-shadow: 0 0 10px 5px rgba(0, 250, 250,0);}
    100% { color:rgba(255, 255, 255,1);transform: rotate(0deg); box-shadow: 0 0 10px 5px rgba(0, 250, 250,1);}

}
.development{
    position: relative;
    display: inline-block;
    animation: devAnimation 2s infinite;
    background:rgba(255, 255, 255, 0);
    margin-left: 10px;
    box-shadow: 0 0 10px 5px rgb(108, 245, 255);
    
}


/* ........................................services ends ...................................... */
/* 
...........................................My projects starts.................................... */
.project-container{
    font-family: 'Roboto', sans-serif;
    padding:5vh 2vw 20vh 2vw;
    text-align: center;
    color:rgb(124, 13, 252);
    background:rgb(255, 255, 255);
    height: fit-content;
    /* background-image: url("https://www.publicdomainpictures.net/pictures/320000/velka/background-image.png");
    background-size: cover;
    background-repeat: no-repeat; */
    min-height: 50vh;

}
.project-card-container{
    text-align: left !important;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    margin-top: 10vh;
    
}
.project-container h3{
    
  
   color: rgb(134, 35, 226);
   font-size: 3rem;
   font-family: 'Courgette', cursive;
  
}
.project-card{
    width:45vw;
    height: 30vw;
    margin: 1vh 1vw;
    position: relative;
    z-index: 2;

   
   
}
.project-card-image{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: calc(2);
}
.project-card-image:hover{
    z-index: calc(-1);
    opacity: .5;
}

.visit-button{
    position:absolute;
    width: 70%;
    height: 20%;
    left:15%;
    top:40%;
    background:red;
    color:white;
    border:2px solid white;
    border-radius: 20px;
    z-index: 1;
    
}
.visit-button:hover{
    z-index: 10;
    background: rgb(8, 12, 240);
}
/*..........................................My projects ends .......................................*/


/* ........................................testimonial  starts ...................................... */
.testimonial-class{
    background-color: cyan;
    height: fit-content;
    z-index: -1;
    position: relative;
    padding-bottom: 2vh;
    font-size: 1.2rem;
    font-weight: 700;
    color: cyan;

}
.testimonial-bg-video{
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}
.carosole{
   
    padding: 20px auto; 
    min-height: 100vh;
   /* background-color: red; */
   /* background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v462-n-130-textureidea_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9465282a2b0a375f4f5b120d7bbad882"); */
   /* background-image: url("https://i.gifer.com/QlQV.gif"); */
   /* background-image: url("https://media.giphy.com/media/ZnzvtO1F8GawpqgkMj/giphy-downsized-large.gif"); */
   background-repeat:round;
   background-size:cover;
   
   text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
    z-index: 10;
}
.testimonials{
   margin: 25vh auto;
    background-color: rgba(0, 255, 255, 0);
    width: 60%;
    /* height: 70vh; */
    /* height: 50vh; */
    text-align: center;
    color:cyan;
    border-radius: 20px;
}
.testimonials img{
    margin: 20px auto;
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    background-color: white;
}

.testimonial-description{
    padding: 10px 20px auto 10px;
    word-break: normal;
}
/* ........................................testimonial ends ...................................... */

/* ........................................contact starts ...................................... */
.bg-video{

    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    

}
.contact{
    background-color:#012443;
   display: flex;
   min-height: 100vh;
  align-items: center;
  /* background-image: url("https://wallpaperaccess.com/full/537069.jpg"); */
  background-size: cover;
  color:white ;
  
  flex-direction: row;
  

}
.left-form{
    color:white;
    width: 50vw;
    z-index: 2;
    margin:10vh 5vw;
}
.right-form{
    width: 50vw;
    margin:10vh 5vw;
    z-index: 2;
}
.left-form p{
    color:white;
}
/* ........................................contact ends ...................................... */

/* ........................................footer starts ...................................... */

.footer{
    background-color:#012443;
    min-height: 20vh;
    color:white;
    text-align: center;
    padding:2% 20%;
    position: relative;
}
.footer a{
    width:2vw;
    margin:30px 3vw 30px 3vw;
}
.footer p{
    margin-top: 20px;
}
/* ........................................footer ends ...................................... */
}

.particles{
   
    width: 100%;
    height: 100vh;
}
